@charset "utf-8";

.p-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 a{
        padding-left:50px;
        color: #707070;
        font-size: 3.2vw;
        line-height: 109px;
        text-decoration: none;
    }
}

.p-header__seach {
    width: 40%;
    text-align: right;
    padding-right:20px;
    .p-header__seach--text {
        box-sizing: border-box;
        width: 40%;
        height: 23px;
        padding-left: 20px;
        border: solid 1px #707070;
        border-radius: 5px;
        background-color: #ffffff;
        background-image: url(../img/seach.png);
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 5px center;
        outline: 0;
    }
    .p-header__seach--btn {
        box-sizing: border-box;
        width: 20%;
        height: 23px;
        border: solid 1px #707070;
        border-radius: 5px;
        background:linear-gradient(to bottom,#F2EDE9,#DED8D3);
        color: #707070;
        font-size: 1rem;
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
        white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.p-header__hamburger {
    display: none;
}

.p-header__nav {
    padding: 40px 0 40px;
    background-color: #F2EDE9;
    .p-header__nav--icon {
        padding-right: 30px;
        text-align: right;
        font-size: 2rem;
        color: #707070;
    }
    a {
        width: 130px;
        text-decoration: none;
        &:link,&:visited,&:hover,&:active {
            color: #707070;
        }
    }
    h2 {
        margin: 46px 0 46px 0;
        padding-left:30px;
        color: #707070;
        font-weight: bold;
        font-size: 2rem;
    }
    ul{
        width: 240px;
        list-style: none;

        li{
            margin: 23px;
            font-size: 1rem;
        }
    }
    .p-header__list {
        height: 100%;
        overflow-x: hidden;
        h2 {
            margin: 0;
            padding: 0;
        }
    }
}